.card {
  border-radius: $border-radius;
  background-color: $color-1;
  box-shadow: 0px 0px 50px rgba($color-2, 0.1);
  margin: 0 $pad-sm;

  &__content {
    padding: $pad;
  }

  @media screen and (min-width: $screen-desktop) {
    margin: 0;
  }
}
